---
layout: default
---
<style>
.listBtn {
  width: 130px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  color: rgb(34, 0, 43);
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size:small;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

/* 공통 table 속성 */
table {
  border-collapse: separate;
  border-spacing: 1px;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  margin : 20px 10px;
  width: 100%;
}
th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: rgb(156, 156, 156);
}
td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}


</style>


<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}

  <!--
  <script src="https://utteranc.es/client.js"
        repo="DrowsyDormouse/DrowsyDormouse.github.io"
        issue-term="pathname"
        label="comments"
        theme="github-light"
        crossorigin="anonymous"
        async>
  </script>
  -->

  <div style="text-align: right;">
    <button type="button" class="listBtn" onclick="location.href='{{ site.baseurl }}/blog'"> List </button>
  </div>
</article>
